body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
}

.github_wrapper > a{
  margin-left: 10%;
}

.country_image{
    width: 50%;
}

.main-page-content__container{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 62px;
}

.country__card{
    width: 300px;
    height: 250px;

    margin: 15px;
    border-radius: 5px;

    background-size: cover;
    opacity: 0.7;
    transition: 1s;
}

.country__card:hover{
    opacity: 1;
}

.countru__card-headers{
    padding: 5px 10px;

    background-color: black;
    opacity: 0.5;
}

a,
a:hover{
    text-decoration: none;
    color: white;
}


